<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <h1>Our Collections</h1>
            <div class="collection-list">
                <h1>collcrtons</h1>
            </div>
        </main>
    <%- include('partials/footer') %>
    <script src="/js/main.js"></script>
</body>

</html>